@model ResultQuoteDto
@*
    _DefaultQuatationPartialComponent
*@

<section id="quotation" class="align-center pb-5 mb-5">
    <div class="inner-content">
        <h2 class="section-title divider">Quote of the day</h2>
        <blockquote data-aos="fade-up">
            <q>
                @Model.Text
            </q>
            <div class="author-name">-@Model.Author</div>
        </blockquote>
    </div>
</section>