@model BookStore.WebUI.Dtos.CategoryDtos.CreateCategoryDto
@{
    ViewData["Title"] = "Create Category";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
       
            <div class="card shadow-lg">
                <div class="card-header text-bg-light text-white text-center">
                    <h4><i class="fas fa-plus-circle"></i> Create New Category</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label"> Category Name</label>
                                    <input type="text" asp-for="CategoryName" class="form-control" placeholder="Enter category name" required />

                                    <br />
                                    <button type="submit" class="btn btn-dark"><i class="fas fa-save"></i> Save</button>
                                </div>
                            </div>
                        
                        </div>

                 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


