@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/UILayout/Layout.cshtml";
}

<section id="home">
    @await Component.InvokeAsync("_DefaultBillboardPartialComponent")
    @await Component.InvokeAsync("_DefaultClientholderPartialComponent")
    @await Component.InvokeAsync("_DefaultFeaturePartialComponent")
    @await Component.InvokeAsync("_DefaultBestsellingPartialComponent")
    @await Component.InvokeAsync("_DefaultPopularBooksPartialComponent")
    @await Component.InvokeAsync("_DefaultQuatationPartialComponent")
    @await Component.InvokeAsync("_DefaultSubscriberPartialComponent")
</section>
